#MastodonTimeline {
  color: #333333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#MastodonTimeline .card {
  margin-top: 12px;
  border-radius: 8px;
  background-color: #f3f3f3;
  padding: 16px;
  font-size: 12px;
}
#MastodonTimeline .card .c-top {
  display: flex;
  justify-content: flex-end;
}
#MastodonTimeline .card .c-middle .content .hashtag {
  border-radius: 24px;
  border: 1px solid #707070;
  color: #333333;
  display: inline-block;
  text-decoration: none;
  margin-top: 8px;
  padding: 4px 8px;
}
#MastodonTimeline .card .c-middle .thumbnail {
  display: flex;
  justify-content: center;
}
#MastodonTimeline .card .c-middle .thumbnail img {
  border-radius: 8px;
  width: 100%;
}
#MastodonTimeline .request {
  text-align: center;
  font-size: 12px;
}
